{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница не найдена</h1>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <p>Здесь ничего нет :(</p>
                <p><a href="{{ path('homePage') }}" class="btn btn-primary">Главная страница</a></p>
            </div>
        </div>
    </div>
{% endblock %}