{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% thumbnail object.imagePath.GalleryHasMedias[0].media, 'goods_small' %}
    </div>
{% endblock %}