{% extends "::base.html.twig" %}

{% block body %}
    {% include '::Menu/mainBreadcrumb.html.twig'%}
    <div class="page_content_offset">
        <div class="container">
            {% render(controller('CatalogBundle:Goods:getGoodsByManufactureId', {'id': id})) %}
        </div>
    </div>
{% endblock %}