<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="yandex-verification" content="8c0093cedc1746e7" />
        <meta name="msvalidate.01" content="85CCA0CC9DE2AE01E9CE5FCFB9F7AD49" />
        {% block title %}{{ sonata_seo_title() }}{% endblock %}
        {{ sonata_seo_metadatas() }}
        <!--meta info-->
        <link rel="icon" type="image/ico" href="{{ asset('public/images/favicon.png') }}">
        {% block stylesheets %}
            <!--stylesheet include product-->
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmcategory/tm_category_menu.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/camera/css/camera.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/magnificent.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
        {% endblock %}
    </head>
    <body class="common-home">
        <!--boxed layout-->
        <div id="page">
            {% include '::header.html.twig' %}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
            {% include '::footer.html.twig' %}
        </div>
        <!--end boxed layout-->
        <!--scripts include-->
    </body>
    {% block javascripts %}
        <script src="{{ asset('public/js/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/view/javascript/camera/camera.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/device.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/script.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/jquery.unveil.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/superfish.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/js/jquery.selectbox-0.2.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105611751-1', 'auto');
        ga('send', 'pageview');
        ga('require', 'linkid', 'linkid.js');

    </script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.rd-navbar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/livesearch.js') }}" type="text/javascript"></script>

</html>
