<!--markup footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="footer_box">
                    <h5>Информация</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('aboutPage') }}">O нас</a></li>
                    </ul>
                </div>
				<ul class="social-list list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/Detalikg-458341507700362/" target='_blank'>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCHTnpocFf-Ul4iFkqpNsq6w" target='_blank'>
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="http://instagram.com/detali.kg/" target='_blank'>
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="footer_box">
                    <h5>Личный Кабинет</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('fos_user_profile_show') }}">Личный Кабинет</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-4">
                <div class="footer_box">
                    <h5>Связаться с нами</h5>
                    <ul class="list-unstyled contacts">
                        <li class="material-icons-phone">
                            <a href="tel:+996 (552) 44-33-17">+996 (552) 44-33-17</a>
                        </li>
                        <li class="material-icons-phone">
                            <a href="tel:{{ get_param('phone_number') }}">{{ get_param('phone_number') }}</a>
                        </li>
                        <li class="material-icons-email">
                            <a href="mailto:{{ get_param('email') }}">{{ get_param('email') }}</a>
                        </li>
                        <li class="material-icons-schedule">С 09:00 до 21:00</li>
                        <li>
                            <!-- WWW.NET.KG , code for http://detali.kg -->
                            <script language="javascript" type="text/javascript">
                             java="1.0";
                             java1=""+"refer="+escape(document.referrer)+"&amp;page="+escape(window.location.href);
                             document.cookie="astratop=1; path=/";
                             java1+="&amp;c="+(document.cookie?"yes":"now");
                            </script>
                            <script language="javascript1.1" type="text/javascript">
                             java="1.1";
                             java1+="&amp;java="+(navigator.javaEnabled()?"yes":"now");
                            </script>
                            <script language="javascript1.2" type="text/javascript">
                             java="1.2";
                             java1+="&amp;razresh="+screen.width+'x'+screen.height+"&amp;cvet="+
                             (((navigator.appName.substring(0,3)=="Mic"))?
                             screen.colorDepth:screen.pixelDepth);
                            </script>
                            <script language="javascript1.3" type="text/javascript">java="1.3"</script>
                            <script language="javascript" type="text/javascript">
                             java1+="&amp;jscript="+java+"&amp;rand="+Math.random();
                             document.write("<a href='http://www.net.kg/stat.php?id=4750&amp;fromsite=4750' target='_blank'>"+
                             "<img src='http://www.net.kg/img.php?id=4750&amp;"+java1+
                             "' border='0' alt='WWW.NET.KG' width='100' height='91' /></a>");
                            </script>
                            <noscript>
                             <a href='http://www.net.kg/stat.php?id=4750&amp;fromsite=4750' target='_blank'><img
                              src="http://www.net.kg/img.php?id=4750" border='0' alt='WWW.NET.KG' width='31'
                              height='31' /></a>
                            </noscript>
                            <!-- /WWW.NET.KG -->
                         </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-6">
                Разработка сайтов: <a href="https://github.com/imanalopher" style="color: #fe7140">Imanalopher</a><br>©2018
                </div>
            </div>
        </div>
    </div>
</footer>