<!--begin header-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div id="logo" class="logo">
                    <a href="{{ path('homePage') }}">
                        <img src="{{ asset('public/images/logo1.png') }}" title="Detali.kg автозапчасти в Бишкеке" alt="Detali.kg автозапчасти в Бишкеке" class="img-responsive"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="top-links">
                    <a href="{{ path('uploadProduct') }}"><i class="material-icons-library_add"></i>Добавить товар</a>
                    {% if app.user %}
                        <a href="{{ path('fos_user_profile_show') }}"><i class="material-icons-person"></i>Профиль</a>
                        <a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons-edit"></i>Редактировать профиль</a>
                        <a href="{{ path('usersGoods') }}"><i class="material-icons-list"></i>Мои товары</a>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="material-icons-lock_open"></i>Выход</a>
                    {% else %}
                        <a href="{{ path('fos_user_registration_register') }}"><i class="material-icons-person"></i>Регистрация</a>
                        <a href="{{ path('fos_user_security_login') }}"><i class="material-icons-person"></i>Вход</a>
                    {% endif %}
                </div>

                <div class="clearfix"></div>
                <div class="float-box">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="{% if app.request.get('_route') == 'homePage' or app.request.get('_route') == 'feedback' or app.request.get('_route') == 'getCategory' or app.request.get('_route') == 'fos_user_security_login' or app.request.get('_route') == 'fos_user_registration_register' or app.request.get('_route') == 'searchProduct'or app.request.get('_route') == 'uploadProduct' %} col-sm-9 col-sm-offset-3{% else %}col-sm-12{% endif %}">
                <div id="search" class="search">
                    <input type="text" name="search" value="" placeholder="Поиск">
                    <button type="button" class="button-search"><span>Поиск</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ render(controller('CatalogBundle:Home:mobileMenu')) }}
    </div>
</header>
<!-- end header -->