Category

<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="catalog/view/theme/theme613/stylesheet/magnificent.css" rel="stylesheet">
<link href="catalog/view/theme/theme613/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet">
<link href="catalog/view/theme/theme613/stylesheet/photoswipe.css" rel="stylesheet">
<link href="catalog/view/theme/theme613/js/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="catalog/view/theme/theme613/stylesheet/material-design.css" rel="stylesheet">
<link href="catalog/view/theme/theme613/stylesheet/material-icons.css" rel="stylesheet">
<link href="catalog/view/javascript/tmcategory/tm_category_menu.css" type="text/css" rel="stylesheet" media="screen">
<link href="catalog/view/javascript/tmnewsletter/tm_newsletter.css" type="text/css" rel="stylesheet" media="screen">
<link href="catalog/view/theme/theme613/stylesheet/stylesheet.css" rel="stylesheet">

<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/moment.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/theme613/js/common.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/theme613/js/device.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/theme613/js/livesearch.js" type="text/javascript"></script>
<script src="catalog/view/theme/theme613/js/script.js" type="text/javascript"></script>
<script src="catalog/view/theme/theme613/js/jquery.easing.1.3.js"></script>
<script src="catalog/view/theme/theme613/js/jquery.ui.totop.js"></script>
<script src="catalog/view/theme/theme613/js/jquery.rd-navbar.min.js"></script>
<script src="catalog/view/theme/theme613/js/jquery.unveil.js"></script>
<script src="catalog/view/theme/theme613/js/fancybox/jquery.fancybox.js"></script>
<script src="catalog/view/theme/theme613/js/superfish.js"></script>
<script src="catalog/view/theme/theme613/js/jquery.selectbox-0.2.js"></script>