{% extends "::base.html.twig" %}
{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="cart-wrapper">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert alert-success">
                            <i class="material-design-user157"></i>
                            <h4>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</h4>
                            <p><a href="{{ path('homePage') }}">Главная</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
