{{ form_start(form, {'attr': {'class': 'form-horizontal'}, action:path('fos_user_registration_register')}) }}
    <fieldset id="account">
        <legend>Основные данные</legend>
        {{ form_errors(form) }}
        <div class="form-group required{% if form.firstname.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.firstname) }}
            <div class="col-sm-9">
                {{ form_widget(form.firstname) }}
                {% if form.firstname.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.firstname) }}!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required{% if form.username.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.username, 'Логин (на Английском)', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Логин на Английском'} }) }}
                {% if form.username.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.username) }}!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required {% if form.phone.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.phone, 'Телефон', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.phone, { 'attr': {'class': 'form-control phone'} }) }}
                {% if form.phone.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.phone) }}!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required{% if form.email.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.email, 'E-mail', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                {% if form.email.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.email) }}!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required{% if form.plainPassword.first.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.plainPassword.first, 'Пароль', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                {% if form.plainPassword.first.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.plainPassword.first) }}!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required{% if form.plainPassword.second.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.plainPassword.second, 'Повтор пароля', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                {% if form.plainPassword.second.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.plainPassword.second) }}!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-group required{% if form.biography.vars.errors|length %} has-error{% endif %}">
            {{ form_label(form.biography, 'Адрес', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.biography, { 'attr': {'class': 'form-control'} }) }}
                {% if form.biography.vars.errors|length %}
                    <div class="text-danger">{{ form_errors(form.biography) }}!</div>
                {% endif %}
            </div>
        </div>
        {{ form_widget(form.captcha) }}
    </fieldset>
    <div class="pull-right">
        <input type="submit" value="Регистрироваться" class="btn btn-primary">
    </div>
{{ form_rest(form) }}