{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="box featured">
                <div class="box-heading"><h3>Рекамендуемые</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:getBestSaleGoods')) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9 col-md-9">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div class="heading">
                            <i class="material-design-upload120"></i>
                            <h2>Редактировать товар</h2>
                        </div>
                        {{ form_start(form, {action:path('editProduct', {id: id})}) }}
                        <div class="checkbox">
                            {{ form_label(form.active) }}
                            {{ form_widget(form.active) }}
                        </div>
                        <div class="checkbox">
                            {{ form_label(form.hot) }}
                            {{ form_widget(form.hot) }}
                        </div>
                        <div class="checkbox">
                            {{ form_label(form.sale) }}
                            {{ form_widget(form.sale) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.characteristic) }}
                            {{ form_widget(form.characteristic) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.review) }}
                            {{ form_widget(form.review) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.amount) }}
                            {{ form_widget(form.amount) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.category,'', {'label_attr': {'class' : 'control-label'}}) }}
                            {{ form_widget(form.category, {'attr' : {'class': 'col-sm-12'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% form_theme form _self %}
{%- block radio_widget -%}
    {% spaceless %}
        <div class="radio">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}">{{ label|trans }}</label>
        </div>
    {% endspaceless %}
{%- endblock radio_widget -%}
{% form_theme form _self %}
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}