<!--Bestsellers-->
{% if goods %}
    {% for product in goods %}
        <div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="product-thumb transition  options">
                <div class="image">
                    <a class="lazy" style="padding-bottom: 90%" href="{{ path('goodsGetInfo', {'id' : product.id}) }}">
                        <img alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" data-src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_small' %}" src="#"/>
                    </a>
                </div>
                <div class="caption">
                    <div class="name name__aside">
                        <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}">{{ product.name }}</a>
                    </div>
                    <div class="price">
                        <span class="price-new">{{ product.price }} сом</span>
                    </div>
                </div>
                <div class="name">
                    <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}">{{ product.name }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}