<!-- Category products-->
<div class="product-filter clearfix">
    <div class="product-filter_elem">
        <div class="button-view">
            <button type="button" id="list-view" data-toggle="tooltip" title="Список"><i class="material-design-view12"></i></button>
            <button type="button" id="grid-view" data-toggle="tooltip" title="Сетка"><i class="material-design-two375"></i></button>
        </div>
    </div>
    <div class="product-filter_elem sort">
    </div>
</div>
<div class="row">
    {% for product in goods %}
        <div class="product-layout product-list col-xs-12">
            <div class="product-thumb transition options">
                <div class="product-option-wrap">
                    <div class="product-options form-horizontal">
                        <div class="options">
                            <a class="ajax-overlay_close" href='#'></a>
                            <h3>{{ product.fullDescription }}</h3>
                            <div class="form-group hidden">
                                <label class="control-label col-sm-4" for="product_id"></label>
                                <div class="col-sm-8">
                                    <input type="text" name="product_id" value="{{ product.id }}" id="product_id" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <a class="lazy lazy-loaded" style="padding-bottom: 100%" href="{{ path('goodsGetInfo', {'id' : product.id}) }}">
                        <img alt="автозапчасти в Бишкеке - {{ product.name }}" title="{{ product.name }}" class="img-responsive" data-src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_square' %}" src="{% path product.imagePath, 'goods_square' %}">
                    </a>
                </div>
                <div class="caption">
                    <div class="price price-product">
                        {% if product.price > 0 %}
                            {{ product.price }} сом.
                        {% else %}Договорная{% endif %}</div>
                    <div class="name">
                        <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}">{{ product.name }}</a>
                    </div>
                    <div class="description">{{ product.shortDescription }}</div>
                    <div class="name price">
                        <a href="tel:{{ product.user.phone }}">{{ product.user.phone }}</a>
                    </div>
                </div>
                <div class="aside">
                    <div class="price price-product">
                        {% if product.price > 0 %}
                            {{ product.price }} сом.
                        {% else %}Договорная{% endif %}
                    </div>
                    <div class="name price">
                        <a href="tel:{{ product.user.phone }}">{{ product.user.phone }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}
</div>