<div id="banner0" class="banners row">
    <div class="col-sm-6 banner-1">
        <div class="banner-box">
            <a href="{{ path('news_index') }}">
                <img src="{{ asset('public/images/banners/news.jpg') }}" alt="banner-3" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="col-sm-6 banner-1">
        <div class="banner-box">
            <a href="{{ path('store_index') }}">
                <img src="{{ asset('public/images/banners/banner-1-416x172.jpg') }}" alt="banner-1" class="img-responsive">
                <div class="s-desc"><h2>Магазины</h2></div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 banner-1">
        <div class="banner-box">
            <a href="{{ path('service_index') }}">
                <img src="{{ asset('public/images/banners/banner-2-416x172.jpg') }}" alt="banner-2" class="img-responsive">
                <div class="s-desc"><h2>Автосервисы</h2></div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 banner-1">
        <div class="banner-box">
            <a href="{{ path('autorazbor_index') }}">
                <img src="{{ asset('public/images/banners/banner-4-416x172.jpg') }}" alt="banner-4" class="img-responsive">
                <div class="s-desc"><h2>Авторазборы</h2></div>
            </a>
        </div>
    </div>
</div>
<div class="product-filter clearfix">
    <div class="product-filter_elem">
        <div class="button-view">
            <button type="button" id="list-view" data-toggle="tooltip" title="Список"><i class="material-design-view12"></i></button>
            <button type="button" id="grid-view" data-toggle="tooltip" title="Сетка"><i class="material-design-two375"></i></button>
        </div>
    </div>
    <div class="product-filter_elem sort">
    </div>
</div>
<div class="row">
    {% for product in goods %}
        <div class="product-layout product-list col-xs-12">
            <div class="product-thumb transition options">
                <div class="image">
                    <a class="lazy lazy-loaded" style="padding-bottom: 100%" href="{{ path('goodsGetInfo', {'id' : product.id}) }}">
                        <img alt="{{ product.name }} - автозапчасти в Бишкеке" title="{{ product.name }}" class="img-responsive" data-src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_square' %}" src="{% path product.imagePath, 'goods_square' %}">
                    </a>
                </div>
                <div class="caption">
                    <div class="price price-product">
                        <span class="price-new">
                            {% if product.price > 0 %}
                                {{ product.price }} сом
                            {% else %}Договорная{% endif %}
                        </span>
                    </div>
                    <div class="name">
                        <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}">{{ product.name }}</a>
                    </div>
                    <div class="description">{{ product.shortDescription }}</div>
                    <div class="name price">
                        <a href="tel:{{ product.user.phone }}">{{ product.user.phone }}</a>
                    </div>
                </div>
                <div class="aside">
                    <div class="price price-product">
                        {% if product.price > 0 %}
                            {{ product.price }} сом.
                        {% else %}Договорная{% endif %}</div>
                    <div class="name price">
                        <a href="tel:{{ product.user.phone }}">{{ product.user.phone }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>