{% extends "::base.html.twig" %}

{% block body %}
    <div class="page_content_offset">
        <div class="container">
            <div class="row clearfix">
                <section class="col-lg-9 col-md-9 col-sm-9">
                    <h2 class="m_bottom_20 color_dark heading1 animate_ftr animate_horizontal_finished">Популярные продукты</h2>
                    <hr class="m_bottom_10 divider_type_3">
                    <div class="row clearfix m_bottom_15">
                        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 m_xs_bottom_10">
                            <p class="d_inline_middle f_size_medium d_xs_block m_xs_bottom_5">Результат&nbsp{{ goods.getPaginationData.firstItemNumber }} - {{ goods.getPaginationData.lastItemNumber }} of {{ goods.getTotalItemCount }}</p>
                        </div>
                        {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}
                    </div>
                    <!--products-->
                    <section class="products_container category_grid clearfix m_bottom_15">
                        {% for product in goods %}
                            <div class="product_item w_xs_full">
                                <figure class="r_corners photoframe type_2 t_align_c tr_all_hover shadow relative">
                                    <!--product preview-->
                                    <a href="#" class="d_block relative wrapper pp_wrap m_bottom_15">
                                        <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_middle' %}" class="tr_all_hover" alt="{{ product.name }}" title="{{ product.name }}">
                                    </a>
                                    <!--description and price of product-->
                                    <figcaption>
                                        <h5 class="m_bottom_10">
                                            <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}" class="color_dark">{{ product.name }}</a>
                                        </h5>
                                        <!--rating-->
                                        <ul class="horizontal_list d_inline_b m_bottom_10 clearfix rating_list type_2 tr_all_hover">
                                            {% for index in 1..5 %}
                                                <li class="{% if index <= product.rating %}active{% endif %}">
                                                    <i class="fa fa-star-o empty tr_all_hover"></i>
                                                    <i class="fa fa-star active tr_all_hover"></i>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <p class="scheme_color f_size_large m_bottom_15">{{ product.price }} сом.</p>
                                        <button onclick="Basket.addProductToBasket({{ product.id }}); return false;" class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15">Заказать</button>

                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    </section>

                    <hr class="m_bottom_10 divider_type_3">
                    <div class="row clearfix m_bottom_15">
                        <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 m_xs_bottom_10">
                            <p class="d_inline_middle f_size_medium d_xs_block m_xs_bottom_5">Результат&nbsp{{ goods.getPaginationData.firstItemNumber }} - {{ goods.getPaginationData.lastItemNumber }} of {{ goods.getTotalItemCount }}</p>
                        </div>
                        {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}
                    </div>
                </section>
                <aside class="col-lg-3 col-md-3 col-sm-3">
                    {{ render(controller('CatalogBundle:Goods:getBestSaleGoods')) }}
                </aside>
            </div>
        </div>
    </div>
{% endblock %}