{% extends "::base.html.twig" %}
{% form_theme form 'CatalogBundle:Captcha:captcha.html.twig' %}
{% block stylesheets %}
    <!--stylesheet include product-->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/magnificent.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/jquery.bxslider/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmcategory/tm_category_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/camera/css/camera.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/owl-carousel/owl.transitions.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
{% endblock %}

{% block body %}
    {% include '::Menu/mainBreadcrumb.html.twig'%}
    <div class="row">
        <div id="content" class="col-sm-12 product_page">
            <div class="row product-content-columns">
                <!-- Content left -->
                <div class="col-sm-5 col-lg-7 product_page-left">
                    <!-- product image -->
                    <div id="default_gallery" class="product-gallery">
                        <div class="image-thumb">
                            <ul id="image-additional" class="image-additional">
                                {% if product.imagePath %}
                                    {% for galleryHasMedia in product.imagePath.GalleryHasMedias if galleryHasMedia.media %}
                                        <li>
                                            <a href="#" title="{{ product.name }}" data-image="{% path galleryHasMedia.media, 'goods_big' %}">
                                                <img src="{% path galleryHasMedia.media, 'goods_big' %}" alt="{{ product.name }} - автозапчасти в Бишкеке" title="{{ product.name }}"/>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div id="product-image" class="product-image">

                            <div class="magnificent-wrap">
                                <div class="magnificent" data-magnificent="product-image">
                                    <div class="polaroid">
                                        <div class="inner">
                                            <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_big' %}" alt="{{ product.name }} - автозапчасти в Бишкеке" title="{{ product.name }}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="magnificent-viewport-wrap">
                                <div data-magnificent-viewport="product-image">
                                    <div class="inner">
                                        <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_big' %}" alt="{{ product.name }} - автозапчасти в Бишкеке" title="{{ product.name }}"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="full_gallery">
                        <ul id="gallery">
                            <li>
                                <a href="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_big' %}" data-something="something" data-another-thing="anotherthing">
                                    <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_big' %}" alt="{{ product.name }} - автозапчасти в Бишкеке" title="{{ product.name }}"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Content right -->
                <div class="col-sm-7 col-lg-5 product_page-right">
                    <div class="general_info product-info">
                        <h1 class="product-title" style="text-align: left">{{ product.name }}</h1>
                        <div class="rating-section product-rating-status">
                            <div class="rating">
                                {% for index in 1..5 %}
                                    {% if index <= product.rating %}
                                        <span class="fa-stack">
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                    {% else %}
                                        <span class="fa-stack">
                                    <i class="material-icons-star fa-stack-1x"></i>
                                </span>
                                    {% endif %}
                                {% endfor %}
                                <span class="review-link review-link-show">
                                <a href="#">{{ product.reviews }} просмотр</a>
                            </span>
                            </div>
                        </div>
                        <div class="price-section">
                            <span class="price-new">
                                {% if product.price > 0 %}
                                    {{ product.price }} сом
                                {% else %}Договорная{% endif %}
                            </span>
                            <div class="reward-block">
                            </div>
                        </div>
                        <ul class="list-unstyled product-section">
                            <li>
                                <strong>{{ product.brand }}</strong>
                                <a href="/manu">{{ product.brand }}</a>
                            </li>
                            <li>
                                <strong>На складе</strong>
                                <span class="stock">{{ product.amount }} штук.</span>
                            </li>
                            <li>
                                <strong>Телефон</strong>
                                {% if product.phone is defined %}
                                    <span class="stock"><a href="tel:{{ product.phone }}">{{ product.phone }}</a></span>
                                {% else %}
                                    <span class="stock"><a href="callto:{{ product.user.phone }}">{{ product.user.phone }}</a></span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div id="product">
                        <div class="form-group form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12 quantity">
                                    <label class="control-label" for="input-quantity">Количество</label>
                                    {#<a class="counter counter-minus material-design-horizontal39" href='#'></a>#}
                                    <input type="text" name="quantity" value="{{ product.amount }}" size="2" id="input-quantity" class="form-control"/>
                                    <input type="hidden" name="product_id" value="{{ product.id }}"/>
                                    {#<a class="counter counter-plus material-design-add186" href='#'></a>#}
                                    {#<button type="button" id="button-cart" onclick="Basket.addProductToBasket({{ product.id }}); return false;" data-loading-text="Заказать" class="product-btn-add">Заказать</button>#}
                                </div>
                            </div>
                        </div>
                        <div class="product-share">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_sharing_toolbox"></div>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_tabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#tab-description" data-toggle="tab">Характеристика</a>
                    </li>
                    <li>
                        <a href="#tab-specification" data-toggle="tab">Специфика</a>
                    </li>
                    <li>
                        <a href="#tab-review" data-toggle="tab">Отзыв&nbsp;({{ comments|length }})</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-description" class="tab-pane product-spec product-section active">
                        {{ product.review|raw }}
                        <div class="clearfix"></div>
                    </div>
                    <div id="tab-specification" class="tab-pane product-spec product-section">
                        {{ product.fullDescription }}
                    </div>
                    <div id="tab-review" class="tab-pane product-reviews product-section">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}, action:path('goodsGetInfo', {'id' : product.id})}) }}
                        <!-- Reviews list -->
                        <div id="review">
                            {{ form_errors(form) }}
                            {% if form.author.vars.errors|length %}
                                <div class="alert alert-danger"><i class="material-design-cancel19"></i>{{ form_errors(form.author) }}!</div>
                            {% endif %}
                            {% if form.email.vars.errors|length %}
                                <div class="alert alert-danger"><i class="material-design-cancel19"></i>{{ form_errors(form.email) }}!</div>
                            {% endif %}
                            {% if form.captcha.vars.errors|length %}
                                <div class="alert alert-danger"><i class="material-design-cancel19"></i>{{ form_errors(form.captcha) }}!</div>
                            {% endif %}
                            {% if form.rating.vars.errors|length %}
                                <div class="alert alert-danger"><i class="material-design-cancel19"></i>{{ form_errors(form.rating) }}!</div>
                            {% endif %}
                            {% if form.comment.vars.errors|length %}
                                <div class="alert alert-danger"><i class="material-design-cancel19"></i>{{ form_errors(form.comment) }}!</div>
                            {% endif %}
                            {% for comment in comments %}
                                <div class="review-item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="review-score">
                                                {% for index in 1..5 %}
                                                    {% if index <= comment.rating %}
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                                        </span>
                                                    {% else %}
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star fa-stack-1x"></i>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="review-author"><strong>{{ comment.author }}</strong></div>
                                            <div class="review-date">{{ comment.created|date }}</div>
                                        </div>
                                        <div class="col-sm-9">
                                            {{ comment.comment }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Review form -->
                        <div class="review-form-title">
                            <h3 class="product-section_title close-tab" id="reviews_form_title">Написать отзыв</h3>
                        </div>
                        <div class="product-review-form" id="reviews_form" style="display: none;">
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    {{ form_label(form.author, 'Ваше имя:', { 'label_attr' : {'class': 'control-label'}}) }}
                                    {% if app.user %}
                                        {{ form_widget(form.author, {'value' : app.user.username }, { 'attr': {'class': 'form-control'} } ) }}
                                    {% else %}
                                        {{ form_widget(form.author, { 'attr': {'class': 'form-control'} }) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    {{ form_label(form.email, 'E-mail:', { 'label_attr' : {'class': 'control-label'}}) }}
                                    {% if app.user %}
                                        {{ form_widget(form.email, {'value' : app.user.email }, { 'attr': {'class': 'form-control'} }) }}
                                    {% else %}
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    {{ form_label(form.comment, 'Ваш отзыв:', { 'label_attr' : {'class': 'control-label'}}) }}
                                    {{ form_widget(form.comment) }}
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12">
                                    {{ form_widget(form.rating) }}
                                </div>
                            </div>
                            {{ form_widget(form.captcha) }}
                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            {{ render(controller('CatalogBundle:Goods:sameGoods', {'product' : product})) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/camera/camera.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/bootstrap/js/bootstrap-tabcollapse.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/device.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/livesearch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.unveil.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/superfish.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.selectbox-0.2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script class="source">
        $(function () {
            $('#product-image [data-magnificent]').magnificent();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var myPhotoSwipe = $("#gallery a").photoSwipe({
                enableMouseWheel: false,
                enableKeyboard: false,
                captionAndToolbarAutoHideDelay: 0
            });
        });
        (function ($) {
            $(document).ready(function () {
                $('.review-link a').click(function (e) {
                    e.preventDefault();
                    $('.product_tabs a[href="#tab-review"]').tab('show');

                })
                $('.review-link-show').click(function () {
                    $('html, body').animate({
                        'scrollTop': $('.product_tabs').offset().top - ($('#stuck').outerHeight() + 50)
                    }, 1000);
                })
                $('.review-link-write').click(function () {
                    $('html, body').animate({
                        'scrollTop': $('#reviews_form_title').offset().top - ($('#stuck').outerHeight() + 50)
                    }, 1000);
                    $('#reviews_form_title').addClass('close-tab').parents('#tab-review').find('#reviews_form').slideDown();
                })
                $('.product_tabs li:first-child a').tab('show');
            });
        })(jQuery);
        jQuery('#reviews_form_title').addClass('close-tab');
        jQuery('#reviews_form_title').on("click", function () {
            if (jQuery(this).hasClass('close-tab')) {
                jQuery(this).removeClass('close').parents('#tab-review').find('#reviews_form').slideToggle();
            }
            else {
                jQuery(this).addClass('close-tab').parents('#tab-review').find('#reviews_form').slideToggle();
            }
        })
    </script>
{% endblock %}