<div class="related-products product-section">
    <h3 class="product-section_title">Похожие продукты</h3>
    <div class="box-carousel">
        {% for product in goods %}
            <div class="product-thumb transition options">
                <div class="product-option-wrap">
                    <div class="product-options form-horizontal">
                        <div class="options">
                            <a class="ajax-overlay_close" href="#"></a>
                            <h3>Available Options</h3>
                            <div class="form-group hidden">
                                <label class="control-label col-sm-4" for="product_id"></label>
                                <div class="col-sm-8">
                                    <input type="text" name="product_id" value="{{ product.id }}" id="product_id" class="form-control">
                                </div>
                            </div>
                            <button class="product-btn-add" type="button" onclick="Basket.addProductToBasket({{ product.id }}); return false;">
                                <span>Купить</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <a class="lazy lazy-loaded" style="padding-bottom: 100%" href="{{ path('goodsGetInfo', {'id' : product.id}) }}">
                        <img class="img-responsive" alt="{{ product.name }}" title="{{ product.name }}" data-src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_middle' %}" src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_middle' %}">
                    </a>
                </div>
                <div class="caption">
                    <div class="price price-product">
                        <span class="price-new">{{ product.price }} сом.</span>
                    </div>
                    <div class="name">
                        <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}">{{ product.name }}</a>
                    </div>
                    <div class="rating">
                        {% for index in 1..5 %}
                            {% if index <= product.rating %}
                                <span class="fa-stack">
                                <i class="material-icons-star star  fa-stack-1x"></i>
                            </span>
                            {% else %}
                                <span class="fa-stack">
                                <i class="material-icons-star fa-stack-1x"></i>
                            </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="aside">
                    <div class="cart-button">
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="owl-controls">
            <div class="owl-buttons">
                <div class="owl-prev">
                    <i class="material-design-keyboard54"></i>
                </div>
                <div class="owl-next">
                    <i class="material-design-keyboard53"></i>
                </div>
            </div>
        </div>
    </div>
</div>