{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="box featured">
                <div class="box-heading"><h3>новые поступления</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:getBestSaleGoods')) }}
                    </div>
                </div>
            </div>
            <div class="box specials">
                <div class="box-heading"><h3>Популярные</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:popularGoods')) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9 col-md-9">
            <div class="product-filter clearfix">
                <div class="product-filter_elem">
                    <div class="button-view">
                        <button type="button" id="list-view" data-toggle="tooltip" title="Список"><i class="material-design-view12"></i></button>
                        <button type="button" id="grid-view" data-toggle="tooltip" title="Сетка"><i class="material-design-two375"></i></button>
                    </div>
                </div>
                <div class="product-filter_elem sort">
                </div>
            </div>
            <div class="row">
                {% for product in goods %}
                    <div class="product-layout product-list col-xs-12">
                        <div class="product-thumb transition options">
                            <div class="product-option-wrap">
                                <div class="product-options form-horizontal">
                                    <div class="options">
                                        <a class="ajax-overlay_close" href='#'></a>
                                        <h3>{{ product.fullDescription }}</h3>
                                        <div class="form-group hidden">
                                            <label class="control-label col-sm-4" for="product_id"></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="product_id" value="{{ product.id }}" id="product_id" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image">
                                <a class="lazy lazy-loaded" style="padding-bottom: 100%" href="{{ path('goodsGetInfo', {'id' : product.id}) }}">
                                    <img alt="{{ product.name }} в Бишкеке" title="{{ product.name }} в Бишкеке" class="img-responsive" data-src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_square' %}" src="{% path product.imagePath, 'goods_square' %}">
                                </a>
                            </div>
                            <div class="caption">
                                <div class="price price-product">{{ product.price }} сом.</div>
                                <div class="name">
                                    <a href="{{ path('goodsGetInfo', {'id' : product.id}) }}">{{ product.name }}</a>
                                </div>
                                <div class="description">{{ product.shortDescription }}</div>
                                <div class="name price">
                                    <a title="{{ product.name }} - {{ product.user.phone }}" href="tel:{{ product.user.phone }}">{{ product.user.phone }}</a>
                                </div>
                            </div>
                            <div class="aside">
                                <div class="price price-product">{{ product.price }} сом.</div>
                                <div class="name price">
                                    <a href="tel:{{ product.user.phone }}">{{ product.user.phone }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('#camera_wrap_0').camera({
                navigation: true,
                playPause: false,
                thumbnails: false,
                navigationHover: false,
                barPosition: 'top',
                loader: false,
                time: 1500,
                transPeriod:800,
                alignment: 'center',
                autoAdvance: true,
                mobileAutoAdvance: true,
                barDirection: 'leftToRight',
                barPosition: 'bottom',
                easing: 'easeInOutExpo',
                fx: 'simpleFade',
                height: '48.5%',
                minHeight: '200px',
                hover: true,
                pagination: false,
                loaderColor			: '#1f1f1f',
                loaderBgColor		: 'transparent',
                loaderOpacity		: 1,
                loaderPadding		: 0,
                loaderStroke		: 3,
            });
        });
    </script>
{% endblock %}