{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <a href="{{ path('uploadProduct') }}"></a>
            <h1><i class="material-design-shopping231"></i>ваши товары</h1>
            <div class="cart-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>ИЗОБРАЖЕНИЕ</td>
                            <td class="text-left">Название</td>
                            <td class="text-left">ЦЕНА</td>
                            <td class="text-right">Редактировать</td>
                            <td class="text-right">Удалить</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in goods %}
                            <tr>
                                <td class="text-center vcenter">
                                    <div class="image">
                                        <a href="{{ path('goodsGetInfo', {'id':product.id}) }}">
                                            <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_small' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <a class="link" href="{{ path('goodsGetInfo', {'id':product.id}) }}">{{ product.name }}</a>
                                </td>
                                <td class="text-right">
                                    <div class="price">{{ product.price }} сом.</div>
                                </td>
                                <td class="text-center" style="width: 0">
                                    <a href="{{ path('editProduct', {'id': product.id }) }}" title="Редактировать" class="cart-remove-btn">
                                        <i class="material-design-settings49"></i>
                                    </a>
                                </td>
                                <td class="text-center" style="width: 0">
                                    <form action="{{ path('deleteProduct') }}" method="post">
                                        <input type="hidden" name="productId" value="{{ product.id }}">
                                        <button type="submit" data-toggle="tooltip"
                                                title="Удалить" class="cart-remove-btn">
                                            <i class="material-design-rubbish"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}
    </div>
{% endblock %}