{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig' %}
            <h1><i class="material-design-person325"></i>Редактировать Профиль</h1>
            <div class="cart-wrapper">
                <div class="row">
                    {% include "@ApplicationSonataUser/Profile/edit_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/camera/camera.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/bootstrap-tabcollapse.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/device.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/livesearch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery.unveil.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/fancybox/jquery.fancybox.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"/>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                defaultDate: "11/1/2013",
                locale: 'ru'
            });
        });
    </script>
    <script src="{{ asset('public/js/superfish.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery.selectbox-0.2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}