{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig' %}
            <h1><i class="material-design-person325"></i>Профиль</h1>
            <div class="cart-wrapper">
                <div class="row">
                    {% include "@ApplicationSonataUser/Profile/show_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
