<div class="box-cart">
    <div id="cart" class="cart toggle-wrap">
        <button onclick="location.href=Routing.generate('binCheckout')" type="button" data-loading-text="Загрузка..." class="toggle item-btn">
            <i class="material-icons-local_grocery_store"></i>
            <strong>Корзина: </strong>
            <span id="cart-total2" class="cart-total2">{{ count }} товаров</span>
            <span id="cart-total3" class="cart-total3">{{ count }}</span>
        </button>
    </div>
</div>