{% extends "::base.html.twig" %}

{% block title %}{{ sonata_seo_title() }}{% endblock %}

{% block stylesheets %}
    <!--stylesheet include product-->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/magnificent.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/jquery.bxslider/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmcategory/tm_category_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmnewsletter/tm_newsletter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
{% endblock %}
{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="box featured">
                <div class="box-heading"><h3>новые поступления</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:popularGoods')) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9 col-md-9">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            {#{% render(controller('CatalogBundle:Goods:index')) %}#}
            <h1>{{ category.cname }} - Автозапчасти в Бишкеке</h1>
            {% render(controller('CatalogBundle:Goods:getGoodsByCategoryId', {'id': id, 'page': page, 'request' : request})) %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/view/javascript/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/device.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/livesearch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.unveil.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/superfish.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.selectbox-0.2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}