<div class="row clearfix m_bottom_45 m_sm_bottom_35">
    <!--testimonials-->
    <div class="col-lg-6 col-md-6 col-sm-12 ti_animate animate_ftr">
        <div class="clearfix m_bottom_25 m_sm_bottom_20">
            <h2 class="tt_uppercase color_dark f_left f_mxs_none m_mxs_bottom_15">Последние комментарии</h2>
            <div class="f_right clearfix nav_buttons_wrap f_mxs_none">
                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left tr_delay_hover r_corners ti_prev"><i class="fa fa-angle-left"></i></button>
                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners ti_next"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        <!--testimonials carousel-->
        <div class="testiomials_carousel">
            {% for comment in comments %}
                <div>
                    <blockquote class="r_corners shadow f_size_large relative m_bottom_15">{{ comment.comment }}</blockquote>
                    <img class="circle m_left_20 d_inline_middle animate_ftr" src="{{ asset('bundles/sonatauser/default_avatar.png') }}" alt="">
                    <div class="d_inline_middle m_left_15 animate_ftr">
                        <h5 class="color_dark"><b>{{ comment.author }}</b></h5>
                        <p>{{ comment.created|date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
