{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="box specials hidden-xs">
                <div class="box-heading"><h3>Популярные</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:popularGoods')) }}
                    </div>
                </div>
            </div>
            <div class="box specials hidden-xs">
                {% include 'facebook.html.twig' %}
            </div>
        </aside>
        <div id="content" class="col-sm-9 col-md-9">
            {% render(controller('CatalogBundle:Goods:index')) %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('#camera_wrap_0').camera({
                navigation: true,
                playPause: false,
                thumbnails: false,
                navigationHover: false,
                barPosition: 'top',
                loader: false,
                time: 1500,
                transPeriod:800,
                alignment: 'center',
                autoAdvance: true,
                mobileAutoAdvance: true,
                barDirection: 'leftToRight',
                barPosition: 'bottom',
                easing: 'easeInOutExpo',
                fx: 'simpleFade',
                height: '48.5%',
                minHeight: '200px',
                hover: true,
                pagination: false,
                loaderColor			: '#1f1f1f',
                loaderBgColor		: 'transparent',
                loaderOpacity		: 1,
                loaderPadding		: 0,
                loaderStroke		: 3,
            });
        });
    </script>
{% endblock %}