<div id="menu-gadget" class="menu-gadget">
    <ul class="menu">
        {% for menu in categories %}
            <li>
                <a href="{{ path('getCategory', {'id':menu.id}) }}">{{ menu.cname }}</a>
                {% if menu.children|length > 0 %}
                    <ul>
                        {% for child in menu.children %}
                            <li><a href="{{ path('getCategory', {'id':child.id}) }}">{{ child.cname }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>