{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <a href="{{ path('uploadProduct') }}"></a>
            <h1><i class="material-design-shopping231"></i>Список магазинов автозапчастей в Бишкеке</h1>
            <div class="cart-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-left">Изображение</td>
                            <td class="text-left">Название</td>
                            <td class="text-left">Телефон</td>
                            <td class="text-left">Адрес</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for store in stores %}
                            <tr>
                                <td class="text-center vcenter">
                                    <div class="image">
                                        <a href="{{ path('store_show', {'id': store.id}) }}">
                                            {% if store.photo %}
                                                <img src="{% path store.photo, 'goods_small' %}" alt="{{ store.firstname }} в Бишкеке на Detali.kg" title="{{ store.firstname }} в Бишкеке на Detali.kg" class="img-thumbnail"/>
                                            {% else %}
                                                <img src="{{ asset('public/images/noavatar.png') }}" alt="{{ store.firstname }} в Бишкеке на Detali.kg" title="{{ store.firstname }} в Бишкеке на Detali.kg" class="img-thumbnail"/>
                                            {% endif %}
                                        </a>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <a class="link" title="{{ store.username }} {{ store.firstname }} {{ store.description|slice(0, 60) }}" href="{{ path('store_show', {'id':store.id}) }}">{{ store.firstname }} - {{ store.description|slice(0, 80) }}</a>
                                </td>
                                <td class="text-left">
                                    <div>{{ store.phone }}</div>
                                </td>
                                <td class="text-left">
                                    <div>{{ store.biography }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}