{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <h1><i class="material-design-shopping231"></i>товары - {{ user.firstname }}</h1>
            <div class="cart-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>ИЗОБРАЖЕНИЕ</td>
                            <td class="text-left">Описание</td>
                            <td class="text-left">Телефон</td>
                            <td class="text-left">АДРЕС</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center vcenter">
                                <div class="image">
                                    <img src="{% path user.photo, 'goods_middle' %}" alt="{{ user.firstname }} в Бишкеке на Detali.kg" title="{{ user.firstname }} в Бишкеке на Detali.kg" class="img-thumbnail"/>
                                </div>
                            </td>
                            <td class="text-left">
                                <p>{{ user.description }}</p>
                            </td>
                            <td class="text-center">
                                <a class="link" href="tel:{{ user.phone }}">{{ user.phone }}</a>
                            </td>
                            <td class="text-right">
                                <div class="price">{{ user.biography }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>ИЗОБРАЖЕНИЕ</td>
                            <td class="text-left">Название</td>
                            <td class="text-left">Телефон</td>
                            <td class="text-left">ЦЕНА</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in goods %}
                            <tr>
                                <td class="text-center vcenter">
                                    <div class="image">
                                        <a href="{{ path('goodsGetInfo', {'id':product.id}) }}">
                                            <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_small' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <a class="link" href="{{ path('goodsGetInfo', {'id':product.id}) }}">{{ product.name }}</a>
                                </td>
                                <td class="text-center">
                                    <a class="link" href="tel:{{ user.phone }}">{{ user.phone }}</a>
                                </td>
                                <td class="text-right">
                                    <div class="price">{{ product.price }} сом</div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}