{% if sliders is defined %}
    <div class="fluid_container" >
        <div class="camera_container">
            <div id="camera_wrap_0">
                {% for slider in sliders %}
                <div title="{{ slider.title }}" data-thumb="{% path slider.image, 'slider_standard' %}"  data-src="{% path slider.image, 'slider_standard' %}">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endif %}