{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!--stylesheet include login-->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/magnificent.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/jquery.bxslider/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmcategory/tm_category_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmnewsletter/tm_newsletter.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9 col-md-9">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <div class="heading">
                            <i class="material-design-add184"></i>
                            <div class="extra-wrap">
                                <h2>Новый клиент</h2>
                                <strong>Регистрация</strong>
                            </div>
                        </div>
                        <p>Создание учетной записи поможет покупать быстрее. Вы сможете контролировать состояние заказа, а также просматривать заказы сделанные ранее. <br>А постоянным покупателям мы предлагаем гибкую систему скидок и персональное обслуживание.<br></p>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Регистрация</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <div class="heading">
                            <i class="material-design-man460"></i>
                            <h2>Зарегистрированный клиент</h2>
                            <strong>Войти в Личный Кабинет</strong>
                        </div>
                        <form action="{{ path("fos_user_security_check") }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="username" class="control-label">Логин</label>
                                <input type="text" id="username" class="form-control" name="_username" value="" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Пароль</label>
                                <input type="password" id="password" name="_password" class="form-control" required="required" />
                            </div>
                            <input type="submit" value="Вход" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/view/javascript/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/device.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/script.js') }}" type="text/javascript"></script>
{% endblock %}