{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% spaceless %}
    <div class="form-group required">
        {{ form_label(form, 'Каптча', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            <img id="{{ image_id }}" class="v_align_bottom" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
            {% if reload %}
                <script type="text/javascript">
                    function reload_{{ image_id }}() {
                        var img = document.getElementById('{{ image_id }}');
                        img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
                    }
                </script>
                <a href="javascript:reload_{{ image_id }}();" style="padding-left: 12px" class="color_dark d_inline_b m_left_10 v_align_bottom"><i class="fa fa-refresh m_right_5" style="padding-right: 12px"></i>Обновить</a>
            {% endif %}
        </div>
    </div>
    <div class="form-group required{% if form.vars.errors|length %} has-error{% endif %}">
        <div class="col-sm-9 col-sm-offset-3">
            {{ form_widget(form) }}
            {% if form.vars.errors|length %}
                <div class="text-danger">{{ form_errors(form) }}!</div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endif %}
{% endblock %}
