{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="box featured">
                <div class="box-heading"><h3>Рекамендуемые</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:getBestSaleGoods')) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9 col-md-9">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div class="heading">
                            <i class="material-design-upload120"></i>
                            <h2>Добавить новый товар</h2>
                        </div>
                        {{ form_start(form, {action:path('uploadProduct')}) }}
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.characteristic) }}
                            {{ form_widget(form.characteristic) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.review) }}
                            {{ form_widget(form.review) }}
                        </div>
                        <div class="form-group" id="imagePath">
                            {{ form_label(form.imagePath) }}
                            {{ form_widget(form.imagePath) }}
                        </div>
                        <div class="form-group">
                            <button type="button" id="goods_new_add_field" name="addNew" class="btn btn-default"><i class="fa fa-plus-circle">&nbspЕще фото</i></button>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.amount) }}
                            {{ form_widget(form.amount) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.category,'', {'label_attr': {'class' : 'control-label'}}) }}
                            {{ form_widget(form.category, {'attr' : {'class': 'col-sm-12'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.submit) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form _self %}
{%- block radio_widget -%}
    {% spaceless %}
    <div class="radio">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">{{ label|trans }}</label>
    </div>
    {% endspaceless %}
{%- endblock radio_widget -%}
{% form_theme form _self %}
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#goods_new_add_field').on('click', function () {
                if($('#lastImagePath').length == 0)
                {
                    var lastImagePath0 = $('#imagePath');
                    lastImagePath0.after('<div class="form-group" id="lastImagePath"><label for="goods_imagePath" class="required">Фото</label><input type="file" id="goods_imagePath_1" name="goods[imagePath][1]" required="required" class="form-control"></div>');
                    lastImagePath0.find('input').attr('name', 'goods[imagePath][0]');
                }
                else {
                    var lastImagePath = $('#lastImagePath');

                    var idImagePath = lastImagePath.find('input').attr('id');
                    var count = idImagePath.substr(idImagePath.length - 1);
                    ++count;

                    console.log(lastImagePath.find('input').attr('id'));
                    lastImagePath.after('<div class="form-group" id="lastImagePath"><label for="goods_imagePath_'+count+'" class="required">Фото</label><input type="file" id="goods_imagePath_'+count+'" name="goods[imagePath]['+count+']" required="required" class="form-control"></div>');
                    lastImagePath.removeAttr('id');
                }
            });
        });
    </script>
{% endblock %}
