{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
            <div class="box featured">
                <div class="box-heading"><h3>Рекамендуемые</h3></div>
                <div class="box-content">
                    <div class="row">
                        {{ render(controller('CatalogBundle:Goods:getBestSaleGoods')) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9">
            <div class="cart-wrapper">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert alert-info">
                            <i class="material-design-warning37"></i>
                            <h4>Вы не авторизованы на сайте. Добавление возможно только зарегистрированным участникам!</h4>
                        </div>
                        <div class="alignleft">
                            <a href="{{ path("fos_user_registration_register") }}" class="btn btn-primary checkout">
                                Регистрация
                                <i class="material-design-forward18"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}