{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="cart-wrapper">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert alert-warning">
                            <i class="material-design-warning37"></i>
                            <h4>Что бы активировать ваш аккаунт, вам нужна связываться с Админом по номеру {{ get_param('phone_number') }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}