{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">
            <div class="privacy_page">
                <h1>Все про авто на Detali.kg</h1>

                <ol>
                    {% for news in news %}
                        <li>
                            <a href="{{ path('news_show', {'id': news.id}) }}">
                                <h4>{{ news.title }}</h4>
                            </a>
                            &nbsp;&nbsp;&nbsp;
                            <i class="glyphicon glyphicon-eye-open"></i>
                            &nbsp;
                            {% if news.view == 1 or news.view == 0 %}
                                <span>{{ news.view }}&nbsp;просмотр</span>
                            {% elseif news.view < 5 %}
                                <span>{{ news.view }}&nbsp;просмотра</span>
                            {% else %}
                                <span>{{ news.view }}&nbsp;просмотров</span>
                            {% endif %}
                            </br>
                            <span>{{ news.date|date('Y-m-d H:i:s') }}</span>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
