{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div id="content" class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
            <div class="privacy_page">
                <h1>{{ news.title }}</h1>

                {{ news.description|raw }}

                {% if news.url is defined %}
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                            {{ news.url|raw }}
                        </div>
                    </div>
                {% endif %}

                <br>

                <div class="pull-right">
                    <a href="{{ path('news_index') }}" class="btn btn-primary checkout">Блог<i class="material-design-forward18"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
