{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <h1><i class="material-design-shopping231"></i>Авторазборы</h1>
            <div class="cart-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-left">Изображение</td>
                            <td class="text-left">Название</td>
                            <td class="text-left">Телефон</td>
                            <td class="text-left">Адрес</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for razbor in razbors %}
                            <tr>
                                <td class="text-center vcenter">
                                    <div class="image">
                                        <a href="{{ path('show_autorazbor', {'id': razbor.id}) }}">
                                            {% if razbor.photo %}
                                                <img src="{% path razbor.photo, 'goods_small' %}" alt="{{ razbor.firstname }} в Бишкеке на Detali.kg" title="{{ razbor.firstname }} в Бишкеке на Detali.kg" class="img-thumbnail"/>
                                            {% else %}
                                                <img src="{{ asset('public/images/noavatar.png') }}" alt="{{ razbor.firstname }} в Бишкеке на Detali.kg" title="{{ razbor.firstname }} в Бишкеке на Detali.kg" class="img-thumbnail"/>
                                            {% endif %}
                                        </a>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <a class="link" title="{{ razbor.username }} {{ razbor.firstname }} {{ razbor.description|slice(0, 60) }}" href="{{ path('show_autorazbor', {'id':razbor.id}) }}">{{ razbor.firstname }} - {{ razbor.description|slice(0, 80) }}</a>
                                </td>
                                <td class="text-left">
                                    <div>{{ razbor.phone }}</div>
                                </td>
                                <td class="text-left">
                                    <div>{{ razbor.biography }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}