{% block choice_widget_expanded %}
    <label class="control-label">Оценка:</label>
    &nbsp;&nbsp;&nbsp; Плохо&nbsp;
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}&nbsp;
        {% endfor %}
    {% endspaceless %}
    &nbsp;Хорошо
{% endblock choice_widget_expanded %}

{% block captcha_widget %}
    {% if is_human %}
        -
    {% else %}
        {% spaceless %}
            <div class="form-group required">
                <div class="col-sm-12">
                    <img id="{{ image_id }}" class="v_align_bottom" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
                    {% if reload %}
                        <script type="text/javascript">
                            function reload_{{ image_id }}() {
                                var img = document.getElementById('{{ image_id }}');
                                img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
                            }
                        </script>
                        <a href="javascript:reload_{{ image_id }}();" style="padding-left: 12px" class="color_dark d_inline_b m_left_10 v_align_bottom"><i class="fa fa-refresh m_right_5" style="padding-right: 12px"></i>{{ 'Renew'|trans({}, 'gregwar_captcha') }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="form-group required">
                <div class="col-sm-12">
                    {{ form_widget(form) }}
                </div>
            </div>
        {% endspaceless %}
    {% endif %}
{% endblock %}