

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
    {% for product in goods %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>