{% extends "::base.html.twig" %}
{% form_theme form 'ApplicationSonataUserBundle:Captcha:captcha.html.twig' %}
{% block body %}
    {% include '::Menu/mainBreadcrumb.html.twig'%}
    <div class="row">
        <div id="content" class="col-sm-12 col-sm-12 contact_page">
            <h1 class="no-line">О нас</h1>
            <div class="text-center">
                <h4>Detali.kg - это торговая интернет-площадка, для автолюбителей! </h4>
                <p>Здесь вы можете разместить своё объявление, а так же по необходимости редактировать и добавлять другие объявления, просмотреть существующие и напрямую связываться с продавцами и покупателями автозапчастей!</p>
                <p>Наша база постоянно обновляется и увеличивается!</p>
            </div>
            {#<div class="map">#}
                {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4137.13683629664!2d74.6009808180007!3d42.84333898648008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb622c6122a75%3A0xa04e9fa1397bac61!2z0YPQuy4g0JDRhdGD0L3QsdCw0LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1474640891671" width="100%" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>#}
            {#</div>#}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="icon material-design-phone370">
                                <strong>Тел: </strong><br>{{ get_param('phone_number') }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="icon fa-calendar">
                                <strong>Режим работы</strong><br/>
                                7 days a week from 8:00 am to 5:00 pm
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="icon material-design-home149">
                                <strong><?php echo $store; ?></strong><br/>
                                <address>
                                    гр. Бишкек
                                </address>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="icon material-icons-email">
                                <strong>E-mail</strong><br>{{ get_param('email') }}
                            </div>
                        </div>
                    </div>
                </div>
                {#{{ form_start(form, {'attr': {'class': 'form-horizontal'}, action:path('postFeedback')}) }}#}
                {#<fieldset id="account">#}
                    {#<legend>Основные данные</legend>#}
                    {#{{ form_errors(form) }}#}
                    {#<div class="form-group required{% if form.username.vars.errors|length %} has-error{% endif %}">#}
                        {#{{ form_label(form.username, 'Имя', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}#}
                        {#<div class="col-sm-9">#}
                            {#{% if app.user %}#}
                                {#{{ form_widget(form.username, {'value' : app.user.username }, { 'attr': {'class': 'form-control'} }) }}#}
                            {#{% else %}#}
                                {#{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}#}
                            {#{% endif %}#}
                            {#{% if form.username.vars.errors|length %}#}
                                {#<div class="text-danger">{{ form_errors(form.username) }}!</div>#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="form-group required{% if form.username.vars.errors|length %} has-error{% endif %}">#}
                        {#{{ form_label(form.email, 'E-mail', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}#}
                        {#<div class="col-sm-9">#}
                            {#{% if app.user %}#}
                                {#{{ form_widget(form.email, {'value' : app.user.email }, { 'attr': {'class': 'form-control'} }) }}#}
                            {#{% else %}#}
                                {#{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}#}
                            {#{% endif %}#}
                            {#{% if form.username.vars.errors|length %}#}
                                {#<div class="text-danger">{{ form_errors(form.email) }}!</div>#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="form-group required{% if form.comment.vars.errors|length %} has-error{% endif %}">#}
                        {#{{ form_label(form.comment, 'Пароль', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}#}
                        {#<div class="col-sm-9">#}
                            {#{{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}#}
                            {#{% if form.comment.vars.errors|length %}#}
                                {#<div class="text-danger">{{ form_errors(form.comment) }}!</div>#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</div>#}
                {#</fieldset>#}
                {#<div class="pull-right">#}
                    {#{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}#}
                {#</div>#}
                {#{{ form_rest(form) }}#}
            </div>
        </div>
    </div>
{% endblock %}