{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!--stylesheet include login-->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/magnificent.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/jquery.bxslider/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <h1><i class="material-design-shopping231"></i>Корзина покупок</h1>
            <div class="cart-wrapper">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>ИЗОБРАЖЕНИЕ</td>
                            <td class="text-left">НАЗВАНИЕ</td>
                            <td class="text-left">КОЛИЧЕСТВО</td>
                            <td class="text-right">ЦЕНА ЗА ШТ.</td>
                            <td class="text-right">ВСЕГО</td>
                            <td style="width: 0"></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="text-center vcenter">
                                    <div class="image">
                                        <a href="{{ path('goodsGetInfo', {'id':product.id}) }}">
                                            <img src="{% path product.imagePath, 'goods_small' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/>
                                        </a>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <a class="link" href="{{ path('goodsGetInfo', {'id':product.id}) }}">{{ product.name }}</a>
                                </td>
                                <td class="text-left">
                                    <div class="btn-block clearfix" style="max-width: 200px;">
                                        <a class="counter counter-minus material-design-horizontal39" href='#'></a>
                                        <input type="text"
                                               name="quantity[111]"
                                               value="{{ prices[product.id]['count'] }}"
                                               size="1" class="form-control cart-q" id="cart-q"/>
                                        <a class="counter counter-plus material-design-add186" href='#'></a>
                                        <p>
                                            <button type="submit" class="link">Обновить</button>
                                        </p>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="price">{{ product.price }} сом.</div>
                                </td>
                                <td class="text-right">
                                    <div class="price price-total">{{ prices[product.id]['count'] * prices[product.id]['price'] }} сом.</div>
                                </td>
                                <td class="text-center" style="width: 0">
                                    <button type="button" data-toggle="tooltip"
                                            title="Удалить" class="cart-remove-btn"
                                            onclick="cart.remove('');"><i class="material-design-rubbish"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
                        <table class="table table-custom">
                            <tbody>
                            <tr>
                                <td>Сумма:</td>
                                <td class="text-right">
                                    <div class="price">{{ totalSum }} сом.</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left">
                        <a href="{{ path('homePage') }}">
                            <button type="button" id="button-cart" data-loading-text="Заказать" class="product-btn-add">Продолжить покупки</button>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="{{ path('binCheckout') }}" class="btn btn-primary checkout">Оформление заказа<i class="material-design-forward18"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/view/javascript/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/device.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/livesearch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.rd-navbar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/superfish.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/script.js') }}" type="text/javascript"></script>
{% endblock %}
