{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!--stylesheet include login-->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/magnificent.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/jquery.bxslider/jquery.bxslider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/photoswipe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/js/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div id="content" class="col-sm-12">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <h1><i class="material-design-shopping231"></i>Корзина покупок</h1>
            <div class="cart-wrapper">
                <div class="row">
                    <div class="col-sm-8 col-md-6 col-sm-offset-3">
                        {% if products|length > 0 %}
                            {{ form_start(form, {'attr': {'id': 'contactform'}, action:path('binCheckout')}) }}
                            {{ form_errors(form) }}

                            {% if form.FIO.vars.errors|length %}
                                <div class="message_container d_none m_top_20" style="display: block;">
                                    <div class="alert_box r_corners error"><i class="fa fa-exclamation-triangle"></i><p>{{ form_errors(form.FIO) }}!</p></div>
                                </div>
                            {% endif %}
                            {% if form.phone.vars.errors|length %}
                                <div class="message_container d_none m_top_20" style="display: block;">
                                    <div class="alert_box r_corners error"><i class="fa fa-exclamation-triangle"></i><p>{{ form_errors(form.phone) }}!</p></div>
                                </div>
                            {% endif %}
                            {% if form.email.vars.errors|length %}
                                <div class="message_container d_none m_top_20" style="display: block;">
                                    <div class="alert_box r_corners error"><i class="fa fa-exclamation-triangle"></i><p>{{ form_errors(form.email) }}!</p></div>
                                </div>
                            {% endif %}
                            {% if form.address.vars.errors|length %}
                                <div class="message_container d_none m_top_20" style="display: block;">
                                    <div class="alert_box r_corners error"><i class="fa fa-exclamation-triangle"></i><p>{{ form_errors(form.address) }}!</p></div>
                                </div>
                            {% endif %}
                            {% if form.captcha.vars.errors|length %}
                                <div class="message_container d_none m_top_20" style="display: block;">
                                    <div class="alert_box r_corners error"><i class="fa fa-exclamation-triangle"></i><p>{{ form_errors(form.captcha) }}!</p></div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                {{ form_label(form.FIO) }}
                                {% if app.user %}
                                    {{ form_widget(form.FIO, {'value' : app.user.username}) }}
                                {% else %}
                                    {{ form_widget(form.FIO) }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.phone) }}
                                {% if app.user %}
                                    {{ form_widget(form.phone, {'value' : app.user.phone}) }}
                                {% else %}
                                    {{ form_widget(form.phone) }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {% if app.user %}
                                    {{ form_widget(form.email, {'value' : app.user.email}) }}
                                {% else %}
                                    {{ form_widget(form.email) }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.address) }}
                                {{ form_widget(form.address, {'id' : 'cf_message'}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.captcha) }}
                                {{ form_widget(form.captcha) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.submit) }}
                            </div>
                            {{ form_end(form) }}
                        {% else %}
                            <div class="alert alert-info">
                                <i class="material-design-circle107"></i>
                                В корзинке продукты нет.
                                <button type="button" class="close"></button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/view/javascript/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/moment.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/common.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/jquery/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/device.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/livesearch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.ui.totop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/jquery.rd-navbar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/superfish.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/theme/theme613/js/script.js') }}" type="text/javascript"></script>
{% endblock %}
