{% extends "::base.html.twig" %}

{% block body %}
    {% include '::Menu/mainBreadcrumb.html.twig'%}
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1><i class="material-design-shopping231"></i>Форма оформления заказа</h1>
            <div class="cart-wrapper">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="alert alert-success">
                            <i class="material-design-verification24"></i>
                            Спасибо, ваш заказ принят. В ближайшее время наши менеджеры обязательно свяжутся с вами!
                            <button type="button" class="close material-design-close47"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
