{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <ul>
        <li class="m_bottom_15">
            <label for="username" class="m_bottom_5 d_inline_b">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" class="r_corners full_width" name="_username" value="{{ last_username }}" required="required" />
        </li>
        <li class="m_bottom_25">
            <label for="password" class="m_bottom_5 d_inline_b">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" class="r_corners full_width" required="required" />
        </li>
        <li class="m_bottom_15">
            <input type="checkbox" id="remember_me" class="d_none" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </li>

        <li class="clearfix m_bottom_30">
            <button type="submit" id="_submit" name="_submit" class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
        </li>
    </ul>
</form>
{% endblock fos_user_content %}
