<div class="popup_wrap d_none" id="login_popup">
    <section class="popup r_corners shadow">
    <button class="bg_tr color_dark tr_all_hover text_cs_hover close f_size_large"><i class="fa fa-times"></i></button>
    <h3 class="m_bottom_20 color_dark">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h3>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <ul>
                <li class="m_bottom_15">
                    <label for="username" class="m_bottom_5 d_inline_b">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" class="r_corners full_width" name="_username" value="" required="required" />
                </li>
                <li class="m_bottom_25">
                    <label for="password" class="m_bottom_5 d_inline_b">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" class="r_corners full_width" required="required" />
                </li>
                <li class="m_bottom_15">
                    <input type="checkbox" id="remember_me" class="d_none" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </li>

                <li class="clearfix m_bottom_30">
                    <button type="submit" id="_submit" name="_submit" class="button_type_4 tr_all_hover r_corners f_left bg_scheme_color color_light f_mxs_none m_mxs_bottom_15">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                </li>
            </ul>
        </form>
        <footer class="bg_light_color_1 t_mxs_align_c">
            <h3 class="color_dark d_inline_middle d_mxs_block m_mxs_bottom_15">Новый клиент?</h3>
            <a href="{{ path('fos_user_registration_register') }}" role="button" class="tr_all_hover r_corners button_type_4 bg_dark_color bg_cs_hover color_light d_inline_middle m_mxs_left_0">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        </footer>
    </section>
</div>